.section-map {
    padding: 180px 0;
    position: relative;

    &::after{
        content: "V";
       left: calc(50% - 555px);
       transform: translate(-50%, +35%);

        @include decorNumber;

        @include mediaTablet{
            padding: 90px 0;
        }
}
}

.section-map__title {
    margin-bottom: 88px;
    @include mediaTablet{
        margin-bottom: 44px;
    }
}

.section-map__map {
    
}

.map {
    height: 358px;
    background: #626262;
}